.gradle/

Client/build/
Client/bin/
Client/.metadata/
Client/.gradle/
Client/.classpath
Client/.project
Client/.settings

Server/build/
Server/bin/
Server/.metadata/
Server/.gradle/
Server/.classpath
Server/.project
Server/.settings